yfinance
pandas
numpy
matplotlib
plotly
scikit-learn
streamlit
langchain
langchain-community
transformers
nltk
requests
python-dotenv
newsapi-python
beautifulsoup4
alpaca-trade-api
langchain-experimental

